body{
    background: #e9ebee;
    overflow-y:scroll;
}
textarea{
    width:100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 20px;
    max-height: auto;
}
hr{
    margin: 50px 0px 0px 0px;
}

#ProfileName {
    padding: 50px 0px 10px 20px;
    font-size: 30px;
    font-weight: bold;
    float: left;
}

#profile-pic-box {
    padding: 5px 0px 0px 5px;
    border-radius: 5%;
    background-color: #fff;
    height: 105px;
    width: 105px;
}

.profile-pic {
    margin: 0px 0px 15px 0px;
    border-radius: 0%;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    float: left;
}

.profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-pic span {
    margin: -100px 0px 10px 0px;
    display: inline-block;
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}

.small-profile-pic {
    margin: 0px 0px 10px 0px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    float: left;
}

/*Feed*/
#feedbox {
    margin: auto;
    width: 500px;  
}
#postbox {
    border-radius: 5px 5px 0px 0px;
    background: #fff; 
    width: 100%; 
    border: 1px solid #dddfe2; 
}
#commentbox {
    border-radius: 0px 0px 5px 5px;
    background: #f6f7f9;
    width: 100%; 
    border: 1px solid #dddfe2;
}
#post {
    padding: 10px 10px 40px 10px;
    word-wrap:break-word;
}
#comment {
    padding: 10px 10px 20px 10px;
    word-wrap:break-word;  
}
#name {
    padding: 0px 0px 10px 0px;  
    font-size: 20px;
    font-weight: bold;
}
#content {
    padding: 10px 0px 0px 0px;
}
#buttonbox{
    padding: 10px 0px 10px 0px; 
    float: right;
}
#commentbuttonbox{
    margin: -10px 0px 0px 0px;
    padding: 0px 0px 10px 0px; 
    float: right;
}
/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
}